.donate-container {
    width: 335px;
    height: 352px;
    padding-left: 40px;
    padding-top: 24px;
    background: var(--violet);
    box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
    border-radius: 16px;
}

// .gradient {
//     height: 352px;
//     width: 335px;
//     background: linear-gradient(149deg,
//             rgb(207, 207, 207) 0%,
//             #4f2ee8 42%,
//             rgb(207, 207, 207) 72%,
//             #4f2ee8 100%);
//     animation: gradient 10s infinite linear;
//     background-size: 400%;
// }

// @keyframes gradient {
//     0% {
//         background-position: 80% 0%;
//     }

//     50% {
//         background-position: 20% 100%;
//     }

//     100% {
//         background-position: 80% 0%;
//     }
// }

.donate-paragraph {
    color: var(--black);
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.04em;
}

.donate-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.donate-index {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--black);
    letter-spacing: -0.04em;
}

.donate-funds-list {
    width: 159px;
}

.donate-funds-visible {
    width: 170px;
    height: 220px;
    overflow: hidden;

    margin-bottom: 10px;
}

.donate-fund {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.donate-item-link {
    margin-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.donate-img {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
    height: 32px;
    object-fit: contain;
}

.donate-emblem {
    width: 20px;
    height: 32px;
}

.donate-emblem {
    width: 20px;
    height: 32px;
    // animation: pulse 2s ease infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1);
    }
}

.donate-img {
    transition: transform 500ms ease-out;
}

.donate-img:hover {
    transform: scale(1.15);
}

.donate-img:active,
.donate-img:focus {
    transform: scale(0.85);
}

/*-------------------------- Scroll bar--------------------------------------- */
.donate-funds-visible::-webkit-scrollbar {
    width: 0%;
    background-color: transparent;
}

.donate-funds-visible::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/*-------------------------- !Scroll bar!--------------------------------------- */

/*---------------------------- Arrow -------------------------------------------*/
.donate-button {
    width: 32px;
    height: 32px;
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0 auto;
}

.donate-block-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate-arrow {
    fill: var(--violet);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    transform: scale(0.7);
    transition: all 2s cubic-bezier(0.4, 0, 0.2, 1);
}

.donate-button:hover,
.donate-arrow:focus {
    background-color: var(--bgc);
}

/* -----------------------! Arrow!--------------------------------- */

/*---------------------------- Arrow up -------------------------------------------*/
.donate-button-up {
    width: 32px;
    height: 32px;
    background-color: var(--violet);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    display: none;
}

.donate-arrow-up {
    fill: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg) scale(0.7);
    transition: all 2s cubic-bezier(0.4, 0, 0.2, 1);
    width: 32px;
    height: 32px;
}

.donate-button-up:focus,
.donate-arrow-up:hover {
    fill: var(--primary-text-color-dark);
    border-radius: 50%;
}

/* -----------------------! Arrow up!--------------------------------- */

@media screen and (min-width: 768px) {
    .donate-container {
        height: 472px;
    }

    .donate-header {
        margin-bottom: 25px;
    }

    .donate-funds-visible {
        height: 320px;
    }
}

@media screen and (min-width: 1440px) {
    .donate-container {
        width: 356px;
        height: 490px;
    }
}