@font-face {
  font-family: "DM Sans";
  src: url("DMSans-Regular.eot");
  src: local("DM Sans Regular"), local("DMSans-Regular"),
    url("/fonts/DMSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/DMSans-Regular.woff2") format("woff2"),
    url("/fonts/DMSans-Regular.woff") format("woff"),
    url("/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("DMSans-Medium.eot");
  src: local("DM Sans Medium"), local("DMSans-Medium"),
    url("/fonts/DMSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/DMSans-Medium.woff2") format("woff2"),
    url("/fonts/DMSans-Medium.woff") format("woff"),
    url("/fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("DMSans-Italic.eot");
  src: local("DM Sans Italic"), local("DMSans-Italic"),
    url("/fonts/DMSans-Italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/DMSans-Italic.woff2") format("woff2"),
    url("/fonts/DMSans-Italic.woff") format("woff"),
    url("/fonts/DMSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("DMSans-Bold.eot");
  src: local("DM Sans Bold"), local("DMSans-Bold"),
    url("/fonts/DMSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/DMSans-Bold.woff2") format("woff2"),
    url("/fonts/DMSans-Bold.woff") format("woff"),
    url("/fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
