<button
  class="modal-team-open-btn"
  type="button"
  aria-label="team logo"
  data-modal-open="team-modal"
>
  <svg class="modal-team-open-icon" width="100" height="14">
    <use href="/src/images/icons.svg#team-logo"></use>
  </svg>
</button>

<div class="modal-team-wrapper" data-modal="team-modal">
  <div class="modal-team">
    <a
      class="modal-team-goit"
      href="https://m.goit.global/ua/new/"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      <svg class="modal-team-goit-icon" width="54" height="16">
        <use href="/src/images/icons.svg#goit"></use>
      </svg>
    </a>

    <button class="modal-team-close-btn" data-modal-close="team-modal">
      <svg class="modal-team-close-icon" width="24" height="24">
        <use href="/src/images/icons.svg#close-btn"></use>
      </svg>
    </button>

    <ul class="modal-team-list">
      <li class="modal-team-item">
        <img
          class="modal-team-photo"
          src="/src/images/team/yurii.jpg"
          alt="team mate"
          loading="lazy"
        />
        <h3 class="modal-team-title">Yurii Yurchyk</h3>
        <p class="modal-team-text">Team-Leader/Developer</p>
        <a
          class="modal-team-link"
          href="https://github.com/yurchykyur"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="modal-team-icon" width="24" height="24">
            <use href="/src/images/icons.svg#gh"></use>
          </svg>
        </a>
      </li>

      <li class="modal-team-item">
        <img
          class="modal-team-photo"
          src="/src/images/team/pasha.jpg"
          alt="team mate"
          loading="lazy"
        />
        <h3 class="modal-team-title">Pavlo Lysiuk</h3>
        <p class="modal-team-text">Scrum-Master/Developer</p>
        <a
          class="modal-team-link"
          href="https://github.com/PavloLysiuk"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="modal-team-icon" width="24" height="24">
            <use href="/src/images/icons.svg#gh"></use>
          </svg>
        </a>
      </li>

      <li class="modal-team-item">
        <img
          class="modal-team-photo"
          src="/src/images/team/myroslava.jpg"
          alt="team mate"
          loading="lazy"
        />
        <h3 class="modal-team-title">Myroslava Dovha</h3>
        <p class="modal-team-text">Front-End Developer</p>
        <a
          class="modal-team-link"
          href="https://github.com/MiraDov290"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="modal-team-icon" width="24" height="24">
            <use href="/src/images/icons.svg#gh"></use>
          </svg>
        </a>
      </li>

      <li class="modal-team-item">
        <img
          class="modal-team-photo"
          src="/src/images/team/oleg.jpg"
          alt="team mate"
          loading="lazy"
        />
        <h3 class="modal-team-title">Oleg Barabash</h3>
        <p class="modal-team-text">Front-End Developer</p>
        <a
          class="modal-team-link"
          href="https://github.com/OlegBarabash"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="modal-team-icon" width="24" height="24">
            <use href="/src/images/icons.svg#gh"></use>
          </svg>
        </a>
      </li>

      <li class="modal-team-item">
        <img
          class="modal-team-photo"
          src="/src/images/team/rostyslav.jpg"
          alt="team mate"
          loading="lazy"
        />
        <h3 class="modal-team-title">Rostyslav Vorokh</h3>
        <p class="modal-team-text">Front-End Developer</p>
        <a
          class="modal-team-link"
          href="https://github.com/RosVor"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="modal-team-icon" width="24" height="24">
            <use href="/src/images/icons.svg#gh"></use>
          </svg>
        </a>
      </li>

      <li class="modal-team-item">
        <img
          class="modal-team-photo"
          src="/src/images/team/sasha.jpg"
          alt="team mate"
          loading="lazy"
        />
        <h3 class="modal-team-title">Oleksandr Harianin</h3>
        <p class="modal-team-text">Front-End Developer</p>
        <a
          class="modal-team-link"
          href="https://github.com/onlydip"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="modal-team-icon" width="24" height="24">
            <use href="/src/images/icons.svg#gh"></use>
          </svg>
        </a>
      </li>

      <li class="modal-team-item">
        <img
          class="modal-team-photo"
          src="/src/images/team/dasha.jpg"
          alt="team mate"
          loading="lazy"
        />
        <h3 class="modal-team-title">Daria Rodovnichenko</h3>
        <p class="modal-team-text">Front-End Developer</p>
        <a
          class="modal-team-link"
          href="https://github.com/DariaRodovnichenko"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="modal-team-icon" width="24" height="24">
            <use href="/src/images/icons.svg#gh"></use>
          </svg>
        </a>
      </li>

      <li class="modal-team-item">
        <img
          class="modal-team-photo"
          src="/src/images/team/maksym.jpg"
          alt="team mate"
          loading="lazy"
        />
        <h3 class="modal-team-title">Maksym Khoruzhevskyi</h3>
        <p class="modal-team-text">Front-End Developer</p>
        <a
          class="modal-team-link"
          href="https://github.com/Kilsor"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="modal-team-icon" width="24" height="24">
            <use href="/src/images/icons.svg#gh"></use>
          </svg>
        </a>
      </li>

      <li class="modal-team-item">
        <img
          class="modal-team-photo"
          src="/src/images/team/danylo.jpg"
          alt="team mate"
          loading="lazy"
        />
        <h3 class="modal-team-title">Danylo Bonz</h3>
        <p class="modal-team-text">Front-End Developer</p>
        <a
          class="modal-team-link"
          href="https://github.com/BonzDanil"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="modal-team-icon" width="24" height="24">
            <use href="/src/images/icons.svg#gh"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
