<h1 class="header-shopping">Shopping <span class="header-color">List</span></h1>

<ul class="shopping-list-list"></ul>

<div class="empty-sh-page">
  <p class="empty-sh-page-text">
    This page is empty, add some books and proceed to order.
  </p>
  <picture>
    <source
      media="(min-width: 1440px)"
      srcset="
        /src/images/shopping_list/shopping_list_empty-desktop.webp     1x,
        /src/images/shopping_list/shopping_list_empty-desktop-@2x.webp 2x
      "
      type="image/webp"
    />
    <source
      media="(min-width: 1440px)"
      srcset="
        /src/images/shopping_list/shopping_list_empty-desktop.png     1x,
        /src/images/shopping_list/shopping_list_empty-desktop-@2x.png 2x
      "
    />

    <source
      media="(min-width: 768px)"
      srcset="
        /src/images/shopping_list/shopping_list_empty-tablet.webp     1x,
        /src/images/shopping_list/shopping_list_empty-tablet-@2x.webp 2x
      "
      type="image/webp"
    />
    <source
      media="(min-width: 768px)"
      srcset="
        /src/images/shopping_list/shopping_list_empty-tablet.png     1x,
        /src/images/shopping_list/shopping_list_empty-tablet-@2x.png 2x
      "
    />

    <source
      media="(max-width: 767px)"
      srcset="
        /src/images/shopping_list/shopping_list_empty-mobile.webp     1x,
        /src/images/shopping_list/shopping_list_empty-mobile-@2x.webp 2x
      "
      type="image/webp"
    />
    <source
      media="(max-width: 767px)"
      srcset="
        /src/images/shopping_list/shopping_list_empty-mobile.png     1x,
        /src/images/shopping_list/shopping_list_empty-mobile-@2x.png 2x
      "
    />

    <img
      src="/src/images/shopping_list/shopping_list_empty-mobile.png"
      alt="books"
      loading="lazy"
    />
  </picture>
</div>
