<div class="js-content-container">
  <div class="book">
    <h3></h3>
    <p></p>
  </div>
</div>

<div class="pagination-container">
  <!-- <button
        class="js-pagination-button"
        type="button"
        data-pagination="start"
      >
        On start
      </button>
      <button
        class="js-pagination-button"
        type="button"
        data-pagination="backward"
      >
        move backward
      </button> -->
  <!-- <ul class="js-pagination-list">
    <li class="js-pagination-pages" data-pagination="1">1</li>
        <li class="js-pagination-pages" data-pagination="2">2</li>
        <li class="js-pagination-pages" data-pagination="3">3</li>
        <li class="js-pagination-pages" data-pagination="4">4</li>
        <li class="js-pagination-pages" data-pagination="...">5</li>
  </ul> -->
  <!-- <button
        class="js-pagination-button"
        type="button"
        data-pagination="forward"
      >
        move forward
      </button>
      <button class="js-pagination-button" type="button" data-pagination="end">
        to the end
        <div class="test"></div>
      </button> -->
</div>
<img src="" alt="" />
