<div class="container donate-container gradient">
    <div class="donate-header">
        <span class="donate-paragraph">Support Ukraine</span>
        <svg class="donate-emblem">
            <use href="./images/icons.svg#ua" width="20" height="32"></use>
        </svg>
    </div>
    <div class="donate-funds-visible swiper slider my-swiper">
        <ul class="donate-funds-list swiper-wrapper" id="donateFundsList"></ul>
    </div>



    <div class="donate-block-arrow">
        <button class="donate-button swiper-button-down">
            <svg class="donate-arrow">
                <use class="use-donate" href="./images/icons.svg#icon-arrow_down"></use>
            </svg>
        </button>
    </div>




    <div class="donate-block-arrow">
        <button class="donate-button-up swiper-button-top">
            <svg class="donate-arrow-up">
                <use class="use-donate" href="./images/icons.svg#icon-arrow_down"></use>
            </svg>
        </button>
    </div>
 
    </div>