<div class="container support-container gradient">
    <div class="support-header">
        <span class="support-paragraph">Support Ukraine</span>
        <svg class="support-emblem">
            <use href="./images/icons.svg#ua" width="20" height="32"></use>
        </svg>
    </div>
    <div class="support-funds-visible swiper slider my-swiper">
        <ul class="support-funds-list swiper-wrapper" id="donateFundsList"></ul>
    </div>



    <div class="support-block-arrow">
        <button class="support-button swiper-button-down">
            <svg class="support-arrow">
                <use class="use-support" href="./images/icons.svg#icon-arrow_down"></use>
            </svg>
        </button>
    </div>




    <div class="support-block-arrow">
        <button class="support-button-up swiper-button-top">
            <svg class="support-arrow-up">
                <use class="use-support" href="./images/icons.svg#icon-arrow_down"></use>
            </svg>
        </button>
    </div>
 
    </div>