// Vars ---------------------------------------------------------------- //
$basicLightbox__background: rgba(0, 0, 0, .8) !default;
$basicLightbox__zIndex: 1000 !default;
$basicLightbox__duration: .4s !default;
$basicLightbox__timing: ease !default;

// basicLightbox ------------------------------------------------------- //
.basicLightbox {

	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: $basicLightbox__background;
	opacity: .01; // Start with .01 to avoid the repaint that happens from 0 to .01
	transition: opacity $basicLightbox__duration $basicLightbox__timing;
	z-index: $basicLightbox__zIndex;
	will-change: opacity;

	&--visible {
		opacity: 1;
	}

	&__placeholder {
		max-width: 100%;
		transform: scale(.9);
		transition: transform $basicLightbox__duration $basicLightbox__timing;
		z-index: 1;
		will-change: transform;

		> img:first-child:last-child,
		> video:first-child:last-child,
		> iframe:first-child:last-child {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			max-width: 95%;
			max-height: 95%;
		}

		> video:first-child:last-child,
		> iframe:first-child:last-child {
			pointer-events: auto;
		}

		> img:first-child:last-child,
		> video:first-child:last-child {
			width: auto;
			height: auto;
		}
	}

	&--img &__placeholder,
	&--video &__placeholder,
	&--iframe &__placeholder {
		width: 100%;
		height: 100%;
		pointer-events: none;
	}

	&--visible &__placeholder {
		transform: scale(1);
	}

}


.hidden {
  display: none;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  stroke: var(--black);
}

.close-btn:hover {
  stroke: var(--violet);
}

.book-card-container {
  padding: 40px;
  max-width: 580px;
  max-height: 500px;
  overflow-y: auto;
  border-radius: 18px;
  border: 2px solid var(--black);
  background-color: var(--white);
}

.book-cover {
  display: flex;
  justify-content: center;
  width: 100%;
}

.book-cover img {
  width: 192px;
  height: 280px;
  border-radius: 8px;
}

.book-title {
  color: var(--text);
  font-size: 24px;
  font-weight: 700;
  line-height: 1, 17;
  letter-spacing: -0.96px;
  margin-bottom: 8px;
}

.book-description {
  color: var(--text);
  font-size: 14px;
  line-height: 1, 28;
  letter-spacing: -0.56px;
  margin-top: 20px;
}

.shop-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 173px;
  height: 36px;
}

.btn-modal {
  margin: 0 auto;
  width: 100%;
  border-radius: 40px;
  border: 2px solid var(--violet);
  background-color: transparent;
  color: var(--black);
  font-size: 18px;
  font-weight: 700px;
  line-height: 1, 33;
  letter-spacing: -0.18px;
  text-transform: uppercase;
}

.btn-modal:hover {
  color: var(--white);
  background-color: var(--violet);
}

.btn-modal:focus {
  color: var(--violet);
  background-color: var(--violet);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
}

.book-description {
  margin: 0 auto;
  margin-top: 8px;
  max-width: 324px;
  color: var(--pop-up-add-text);
  text-align: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.48px;
}
