.home-page {
    margin-top: 74px;
}



@media screen and (min-width: 768px) and (max-width: 1439.9px) {
    div>.nav-categories-section {
        padding-bottom: 0px;
    }
}

@media screen and (min-width: 1440px) {
    .gallery {
        width: 996px;
        margin-left: 40px;
        padding-top: 100px;
    }
}

@media screen and (min-width: 768px) {
    .gallery-list {
        display: flex;
        gap: 25px;
    }
}

@media screen and (min-width: 1440px) {
    .gallery-list {
        gap: 24px;
    }
}

.gallery-list2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .gallery-list2 {
        flex-direction: row;
        gap: 40px 25px;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1440px) {
    .gallery-list2 {
        gap: 40px 24px;
    }
}

.gallery-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 32px;
    line-height: 1.1875;
    letter-spacing: -0.04em;

    color: var(--black);

    margin-bottom: 40px;
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
    .gallery-title {
        font-size: 48px;
        line-height: 1.083333;
    }
}

.gellery-title-akcent {
    color: var(--violet);
}

.gallery-book-home-link {
    padding-bottom: 8px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .gallery-book-home-link {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 25px;
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .gallery-book-home-link {
        padding-bottom: 32px;
    }
}

@media screen and (min-width: 768px) {
    .gallery-book-card {
        max-width: 218px;
        gap: 25px;
    }
}

@media screen and (min-width: 1440px) {
    .gallery-book-card {
        max-width: 180px;
        gap: 24px;
    }
}

.gallery-book-cover {
    position: relative;
    overflow: hidden;
    width: 335px;
    height: 485px;
    background-size: cover;
    margin-bottom: 14px;
    border-radius: 8px;
    transition: transform 0.5s ease-in-out;
}

@media screen and (min-width: 768px) {
    .gallery-book-cover {
        width: 218px;
        height: 316px;
    }
}

@media screen and (min-width: 1440px) {
    .gallery-book-cover {
        width: 180px;
        height: 256px;
    }
}

.gallery-book-cover:active,
.gallery-book-cover:hover,
.gallery-book-cover:focus {
    transform: scale(1.2);
}

.gallery-category {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28571;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--books-color);
    margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
    .gallery-category {
        line-height: 1.714285;
    }
}

@media screen and (min-width: 768px) {
    .book-card {
        display: flex;
        flex-direction: column;
        max-width: 218 px;
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media screen and (min-width: 1440px) {
    .book-card {
        gap: 24px;
    }
}

.gallery-book-name {
    color: var(--black);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.125;

    letter-spacing: -0.04em;
    text-transform: uppercase;

    margin-bottom: 4px;

    height: 18px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.gallery-author {
    color: var(--books-color);
    font-family: var(--main-font);
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 1.166666;
    letter-spacing: -0.04em;

    height: 14px;
    overflow-y: hidden;
}

.gallery-see-more-btn {
    display: block;

    color: var(--black);
    text-transform: uppercase;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    text-align: center;

    padding: 14px 28px;
    border: 2px solid var(--accent-color-ligth);
    border-radius: 40px;

    margin-bottom: 40px;
    margin-left: auto;
    transition: all 0.3s ease-in-out;

}

.gallery-see-more-btn:hover,
.gallery-see-more-btn:focus {
    color: var(--white);
    background-color: var(--accent-color-ligth);

}