.books-list .content {
  padding: 14px 0 0 0;
}

.books-list-top {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 40px;
  padding-bottom: 112px;
}

.books-list-title h2 {
  margin-bottom: 40px;

  font-size: 32px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: -1.28px;

  color: var(--text);
}

.books-list-title span {
  color: var(--violet);
}

.books-list-title-li {
  margin-bottom: 18px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.42px;
  text-transform: uppercase;

  color: var(--books-color);
}

.colortext {
  color: var(--violet);
}

.category-top-books {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
}

.category-top-books li {
  width: 335px;
  overflow: hidden;
}

.books-list-img {
  width: 100%;
  height: 485px;

  border-radius: 8px;

  object-fit: cover;
}

.books-list-name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: var(--text);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.books-list-text {
  font-style: italic;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.05em;

  color: var(--books-color);
}

.simplebar-scrollbar {
  opacity: 0.5;
  cursor: pointer;
}

.category-top-books .thumb {
  position: relative;
  margin-bottom: 14px;

  overflow: hidden;

  border-radius: 8px;
}

.category-top-books .actions-card {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);

  height: 70px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--yellow);

  transition: transform var(--transition);
}

.actions-card {
  padding: auto 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: var(--black-color);
}

.category-top-books a:is(:hover, :focus) .actions-card {
  transform: translateY(0);

  cursor: pointer;
}

.top-btn-wrapper button {
  display: block;
  margin: 8px 0 0 auto;
  padding: 14px 28px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-transform: uppercase;

  color: var(--text);
  background-color: transparent;

  border: 2px solid var(--violet);
  border-radius: 40px;

  transition: all var(--transition);
}

.top-btn-wrapper button:is(:hover, :focus) {
  color: var(--white);
  background-color: var(--violet);
}

@media screen and (min-width: 768px) {
  .categories-container {
    padding-bottom: 100px;
  }

  .categories-wrapper {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .categories-list {
    gap: 32px;
  }

  .categories-list-name {
    font-size: 18px;
    line-height: 1.33;
  }

  .books-list-title h2 {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }

  .books-list-title {
    line-height: 1.7;
  }

  .category-top-books {
    gap: 25px;
  }

  .category-top-books li {
    flex-basis: calc((100% - 2 * 25px) / 3);
  }

  .thumb {
    width: 218px;
  }

  .books-list-img {
    height: 316px;
  }
}

.top-btn-wrapper button {
  margin: 20px 0 0 auto;
}

@media screen and (min-width: 1440px) {
  .categories-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .categories-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .books-list-title h2 {
    margin-top: 86px;
  }

  .caterories-content {
    padding: 0;
    margin-left: 40px;
    width: 996px;
  }

  .category-top-books {
    gap: 24px;
  }

  .category-top-books li {
    flex-basis: calc((100% - 4 * 24px) / 5);
  }

  .thumb {
    width: 180px;
    height: 256px;
  }

  .books-list-img {
    height: 100%;

    border-radius: 16px;
  }

  .top-btn-wrapper button {
    margin: 32px 0 0 auto;
  }
}
