.books-list-top {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 40px;
}

.books-list-title {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--books-title-color);
    margin-bottom: 18px;
}

.category-top-books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
}

.category-top-books li {
    overflow: hidden;
    flex-basis: 335px;
}

.category-top-books .content {
    padding: 14px 0 0 0;
}

.books-list-img {
    border-radius: 8px;
    width: 100%;
    height: 485px;
}

.books-list-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--black-color);

    padding-bottom: 4px;
}

.dark .books-list-name {
    color: var(--white-color);
}

.books-list-text {
    font-style: italic;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.04em;
    color: #b4afaf;
}



.simplebar-scrollbar {
    opacity: 0.5;
    cursor: pointer;
}

.category-top-books .thumb {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.category-top-books .actions-card {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);

    content: '';
    height: 25%;
    width: 100%;
    background: var(--gold-color);

    transition: transform var(--animation);
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions-card {
    padding: auto 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--black-color);
}

.category-top-books a:hover .actions-card {
    transform: translateY(0);
}

.category-top-books a:focus .actions-card {
    transform: translateY(0);
}

.top-btn-wrapper button {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--black-color);
    padding: 14px 28px;
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    background-color: transparent;
    display: flex;
    margin-top: 32px;
    margin-left: auto;
    transition: all var(--animation);
}

.top-btn-wrapper button:hover,
.top-btn-wrapper button:focus {
    color: #ffffff;
    background-color: #4f2ee8;
}

@media screen and (min-width: 768px) {
    .categories-container {
        padding-bottom: 100px;
    }

    .categories-wrapper {
        display: flex;
        flex-direction: row;
        gap: 32px;
    }

    .categories-list-nav {
        max-width: 337px;
        height: 472px;
        overflow-y: scroll;
    }

    .caterories-content {
        flex: 0 1 704px;
    }

    .categories-list {
        gap: 32px;
    }

    .categories-list-name {
        font-size: 18px;
        line-height: 1.33;
    }

    .books-list-title h2 {
        font-size: 48px;
        line-height: 1.08;
    }

    .category-top-books {
        gap: 25px;
    }

    .category-top-books li {
        flex-basis: calc((100% - 2 * 25px) / 3);
    }

    .books-list-img {
        border-radius: 8px;
        width: 100%;
        height: 316px;
    }
}

@media screen and (min-width: 1440px) {
    .categories-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .categories-wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .categories-list-nav {
        flex: 0 0 calc(358 / 1392 * 100%);
        height: 472px;
    }

    .caterories-content {
        flex: 0 1 996px;
    }

    .category-top-books {
        gap: 24px;
    }

    .category-top-books li {
        flex-basis: calc((100% - 4 * 24px) / 5);
    }

    .books-list-img {
        border-radius: 16px;
        width: 100%;
        height: 256px;
    }

    .category-top-books .thumb {
        border-radius: 16px;
    }
}
