<div class="mobile-menu js-menu-container">
  <div class="menu-wrapper container">
    <!-- <button type="button" class="login-mob-btn">
      Sign up
      <svg class="icon-mob-login" width="20" height="20">
        <use href="./images/icons.svg#login-arrow"></use>
      </svg>
    </button> -->
    <div class="user-info">
      <img
        class="user-info-img"
        src="./images/user.png"
        alt="user"
        width="37"
        height="37"
      />
      <p class="user-info-text">Stephen</p>
    </div>
    <div class="mob-menu">
      <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a class="mob-menu-link link" href="./index.html">home</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link link" href="./shopping-list.html"
            >SHOPPING LIST
            <svg class="mob-menu-icon" width="20" height="20">
              <use href="./images/icons.svg#cart"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <button type="button" class="logout-mob-btn">
      Log out
      <svg class="icon-mob-logout" width="20" height="20">
        <use href="./images/icons.svg#login-arrow"></use>
      </svg>
    </button>

    <picture class="mobile-menu-background">
      <source
        srcset="
          ./images/mobile/webP/mobile_background.webp     1x,
          ./images/mobile/webP/mobile_background-@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/mobile/mobile_background.png     1x,
          ./images/mobile/mobile_background-@2x.png 2x
        "
        type="image/png"
      />
      <img
        class="mobile-menu-background"
        src="./images/mobile/mobile_background.png"
        alt="Tube Watch S42 Date Steel With Black Case"
      />
    </picture>
  </div>
</div>
