<!--Header-->
<header class="header">
  <div class="header-container container">
    <nav class="navigation">
      <a href="./index.html" class="header-logo">
        <svg class="icon-logo" width="109" height="28">
          <use href="./images/icons.svg#logo"></use></svg
      ></a>
      <ul class="header-menu list">
        <li class="header-menu-item">
          <a class="header-menu-link link" href="./index.html">home</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link" href="./shopping-list.html"
            >SHOPPING LIST
            <svg class="icon-shop" width="20" height="20">
              <use href="./images/icons.svg#cart"></use></svg
          ></a>
        </li>
      </ul>
    </nav>
    <div class="burger-wraper">
      <div class="theme-switch">
        <input type="checkbox" id="toggle" class="checkbox" />
        <label for="toggle" class="label">
          <span class="ball"></span>
        </label>
      </div>

      <button type="button" class="burger-btn js-open-menu">
        <svg class="icon-burger" width="20" height="20">
          <use href="./images/icons.svg#burger"></use>
        </svg>
      </button>

      <button type="button" class="burger-btn js-close-menu">
        <svg class="icon-burger" width="20" height="20">
          <use href="./images/icons.svg#close-btn"></use>
        </svg>
      </button>

      <div class="dropdown">
        <button type="button" class="login-btn">
          <img
            class="login-img"
            src="./images/user.png"
            alt="Icon"
            width="37"
            height="37"
          />
          Stephen
          <svg class="icon-login" width="24" height="24">
            <use href="./images/icons.svg#user-arrow"></use>
          </svg>
        </button>
        <div class="dropdown-content">
          <a href="#"
            ><div class="logout-btn">
              Log out
              <svg class="icon-logout" width="20" height="20">
                <use href="./images/icons.svg#login-arrow"></use>
              </svg></div
          ></a>
        </div>
      </div>
    </div>
  </div>
</header>
