.gotop-wrapper {
  position: fixed;
  bottom: 84px;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  transition: opacity var(--transition);
}

.gotop-wrapper.show {
  opacity: 1;
}

.gotop-link {
  display: block;

  width: 64px;
  height: 64px;
  scale: 1;

  background-color: rgba(80, 46, 232, 0.3);
  border-radius: 50%;

  transition: transform var(--transition);
}

.gotop-link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 54px;
  height: 54px;
  scale: 1;

  background-color: var(--violet);
  border-radius: 50%;
}

.gotop-link:is(:hover, :focus) {
  transform: scale(1.1);
}

.gotop-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;

  fill: var(--white);
}

// @media screen and (min-width: 768px) {
//   .gotop-link {
//     width: 55px;
//     height: 55px;
//   }

//   .gotop-icon {
//     width: 30px;
//     height: 30px;
//   }
// }

// @media screen and (min-width: 768px) {
//   .gotop-wrapper {
//     bottom: 120px;
//   }
// }
