@media screen and (max-width: 767px) {
  .modal-team,
  .modal-team-open-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .modal-team-wrapper {
    opacity: 0;
    visibility: hidden;

    transition: opacity var(--transition), visibility var(--transition);
  }

  .modal-team-wrapper.is-open {
    opacity: 1;
    visibility: visible;
  }

  .modal-team-wrapper::before {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 615px;
    background-color: var(--main-background-color);
  }

  .modal-team-goit-icon {
    position: absolute;
    top: -32px;
    left: 0;

    fill: var(--logo-fill-color);

    transition: fill var(--transition);
  }

  .modal-team-goit:is(:hover, :focus) .modal-team-goit-icon {
    fill: #ff5c01;
  }

  .modal-team-open-btn {
    position: absolute;
    left: 50%;
    bottom: 1px;
    transform: translateX(-50%);

    padding: 20px;

    line-height: 1;

    fill: var(--logo-fill-color);
    background-color: transparent;
    border: none;

    transition: fill var(--transition);
  }

  .modal-team-open-btn:is(:hover, :focus) {
    fill: #ff5c01;
  }

  .modal-team-close-btn {
    position: absolute;
    top: -36px;
    right: -5px;

    display: flex;

    padding: 0;

    border: none;
    background-color: transparent;
  }

  .modal-team-close-icon {
    justify-content: center;
    align-items: center;

    fill: #ff5c01;

    transition: fill var(--transition);
  }

  .modal-team-close-btn:is(:hover, :focus) .modal-team-close-icon {
    fill: var(--violet);
  }

  .modal-team {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    padding: 12px;

    display: flex;
    justify-content: center;

    border-radius: 15px;
    background-color: var(--violet);
  }

  .modal-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;

    width: 704px;
  }

  .modal-team-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 10px;

    width: calc((100% - (12px * 2)) / 3);

    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.03);

    transition: transform var(--transition), background-color var(--transition),
      box-shadow var(--transition);
  }

  .modal-team-item:hover {
    transform: translateY(-3px);
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.13);
  }

  .modal-team-photo {
    width: 50px;
    height: 50px;

    transform: scale(1);

    overflow: hidden;
    border-radius: 50%;
    background-color: var(--white);

    transition: transform var(--transition), border-radius var(--transition);
  }

  .modal-team-item:hover .modal-team-photo {
    transform: scale(1.25);
    border-radius: 10%;
  }

  .modal-team-title {
    margin-top: 16px;

    font-size: 14px;
    text-align: center;

    color: var(--white);
    line-height: 1;
  }

  .modal-team-text {
    margin-top: 4px;

    font-size: 11px;

    color: rgba(255, 255, 255, 0.7);
    line-height: 1;
  }

  .modal-team-link {
    margin-top: 12px;

    width: 24px;
    height: 24px;

    cursor: pointer;
  }

  .modal-team-icon {
    fill: rgba(255, 255, 255, 0.7);

    transform: scale(1);
    transition: transform var(--transition), fill var(--transition);
  }

  .modal-team-icon:is(:hover, :focus) {
    transform: scale(1.25);
    fill: var(--white);
  }
}

@media screen and (min-width: 1280px) {
    .modal-team-wrapper::before {
    height: 706px;
  }

  .modal-team {
    bottom: 30px;
    padding: 20px;
  }

  .modal-team-open-btn {
    bottom: 12px;
  }

  .modal-team-list {
    width: 860px;
    gap: 20px;
  }

  .modal-team-item {
    width: calc((100% - (20px * 2)) / 3);
  }

  .modal-team-photo {
    width: 60px;
    height: 60px;
  }

  .modal-team-title {
    font-size: 18px;
  }

  .modal-team-text {
    font-size: 14px;
  }
}
